URxvt.font: xft:monospace:size=12
URxvt.scrollBar: false

!!Colorscheme

!special
*.foreground: #f2966c
*.background: #1a212c
*.cursorColor: #faeacf

!black
*.color0: #0f0b08
*.color8: #b5b2b0

!red
*.color1: #d5646F
*.color9: #d5646f

!green
*.color2: #59a657
*.color10: #6aad62

!yellow
*.color3: #cda765
*.color11: #d4a654

!blue
*.color4: #6d8fc8
*.color12: #608dd8

!magenta
*.color5: #af5aaf
*.color13: #af5aaf

!cyan
*.color6: #58ded1
*.color14: #58ded1

!white
*.color7: #c8c8c8
*.color15: #e9e9e9
